$Primary-color: #39cdcc;

.custom_button {
  padding: 12px;
  background-color: $Primary-color;
  border: none;
  outline: none;
  font-size: 14px;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 5px;
}
